

@{
    ViewData["Title"] = "GetAllLSTDByIDKH";
    Layout = "~/Views/Shared/_LayoutForAdmin.cshtml";
   
}

<h1 style="text-align:center"><b>Xem lịch sử</b></h1>
<table class="table" style="margin-left: 20px">
    <thead>
        <tr>
            <th style=" background-color: darkslategray;
    color: white;">STT</th>
            <th style=" background-color: darkslategray;
    color: white;">Số đơn thành công</th>
            <th style=" background-color: darkslategray;
    color: white;">Số đơn hoàn hàng</th>
            <th style=" background-color: darkslategray;
    color: white;">Số đơn hủy</th>
            
           @* <th style=" background-color: darkslategray;
    color: white;">Số điểm tích hoặc tiêu</th>*@
           

           
          
        </tr>
    </thead>
    <tbody>
       
            <tr>
                <td>
                    <strong style="color:black">1</strong>
                </td>
                <td>
                    <div style="color:black">@ViewBag.DonThanhCong</div>
                </td>
                <td>
                <div style="color:black">@ViewBag.DonHuy</div>
                </td>
                <td>
                <div style="color:black">@ViewBag.DonHoanHang</div>
                </td>
               
                @*<td>
                    <div style="color:red">@item.SoDiemTichOrTieu</div>
                </td>*@

               
               
            </tr>
        
    </tbody>
</table>

<br />
<button class="btn btn-primary">
    <a asp-action="GetAllKhachHang" style="color:white;">Quay lại</a>
</button>

