@using AppData.ViewModels;
@model List<SanPhamViewModel>

@foreach (var item in Model)
{
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="product__item">
            <div class="product__item__pic set-bg">
                <img src="/img/product/product-2.jpg">
            </div>
            <div class="product__item__text">
                <h6>@item.Ten</h6>
                <a onclick="addCart('@item.IdBT')" class="add-cart">+ ADD TO CART</a>
                <h5 style="color:red">@item.GiaBan.ToString("n0") VND</h5>
            </div>
        </div>
    </div>
}