@{
    Layout = "_Layout";
}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-blog set-bg" data-setbg="/img/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                <h2>Blog của chúng tôi</h2>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Blog Section Begin -->
    <section class="blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="/img/blog/blog-1.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="/img/icon/calendar.png" alt=""> 16/06/2023</span>
                            <h5>Myas uốn tóc nào là tốt nhất</h5>
                            <a href="#">Đọc thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="/img/blog/blog-2.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="/img/icon/calendar.png" alt=""> 21/06/2023</span>
                        <h5>Những chiếc vòng tay vĩnh cửu sẽ tồn tại mãi mãi</h5>
                            <a href="#">Đọc thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="/img/blog/blog-3.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="/img/icon/calendar.png" alt="">28/06/2023</span>
                        <h5>Những lợi ích sức khỏe của kính râm</h5>
                        <a href="#">Đọc thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="/img/blog/blog-4.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="/img/icon/calendar.png" alt="">16/06/2023</span>
                        <h5>Hướng đến mục tiêu cao hơn của Mastopexy</h5>
                        <a href="#">Đọc thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="/img/blog/blog-5.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="/img/icon/calendar.png" alt=""> 21/06/2023</span>
                        <h5>Nhẫn cưới, một món quà cho cả đời</h5>
                            <a href="#">Đọc thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="/img/blog/blog-6.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="/img/icon/calendar.png" alt=""> 28/06/2023</span>
                        <h5>
                            Các phương pháp tẩy lông khác nhau
                        </h5>
                        <a href="#">Đọc thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="/img/blog/blog-7.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="/img/icon/calendar.png" alt=""> 16 /07/ 2023</span>
                        <h5>
                            Bông tai Hoop Một phong cách từ lịch sử
                            <a href="#">Đọc thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="/img/blog/blog-8.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="/img/icon/calendar.png" alt=""> 21 /07/ 2023</span>
                        <h5>
                            Phẫu thuật mắt LASIK - Bạn đã sẵn sàng chưa?
                        </h5>
                            <a href="#">Đọc thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="/img/blog/blog-9.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="/img/icon/calendar.png" alt=""> 28 /06/ 2023</span>
                        <h5>Phẫu thuật mắt LASIK - Bạn đã sẵn sàng chưa?</h5>
                            <a href="#">Đọc thêm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section End -->
