<div class="modal fade" id="changePassword">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Đổi mật khẩu</h3>
            </div>
            <div class="modal-body">
                <form asp-controller="Home" asp-action="ChangePassword">
@*                     <div class="form-group">
                        <label >Current Password</label>
                        <input type="password" class="form-control" name="oldPassword" required="">
                    </div> *@
                    <div class="form-group">
                        <label>Mật khẩu cũ</label>
                        <input type="password" class="form-control" name="oldPassword" required="">
                        <span class="form-text small text-muted">
                            The password must be 8-20 characters, and must <em>not</em> contain spaces.
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Mật khẩu mới</label>
                        <input type="password" class="form-control" name="newPassword" required="">
                        <span class="form-text small text-muted">
                            The password must be 8-20 characters, and must <em>not</em> contain spaces.
                        </span>
                    </div>
@*                     <div class="form-group">
                        <label>Verify</label>
                        <input type="password" class="form-control" id="verify" required="">
                        <span class="form-text small text-muted">
                            To confirm, type the new password again.
                        </span>
                    </div> *@
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-lg float-right">Ok</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
