@{
    Layout = "_Layout";
}

<div class="row" style="margin-top:50px">
    <div class=col-4></div>
    <div class="col-4">
        <h3 style="text-align:center;margin-bottom:10px"><strong>Cập nhật mật khẩu mới</strong></h3>
        <div class="tab-content">
            <div>
                <form method="post">
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label">Mật khẩu mới</label>
                        <input type="password" name="password" class="form-control" />
                        <span class="text-danger" name="Password">@ViewData["PasswordError"]</span>
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label">Xác nhận mật khẩu mới</label>
                        <input type="password" name="confirmPassword" class="form-control" />
                        <span class="text-danger" name="ConfirmPassword">@ViewData["ConfirmPasswordError"]</span>
                    </div>
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4">Cập nhật</button>
                </form>
            </div>
        </div>
        <div class=col-4></div>
    </div>
</div>
