@{
    Layout = "_Layout";
}
<div class="container" style="height:210px">
    <div class="success-w">
        <h1 style="font-size: 36px; text-align: center"><span class="success"><i class="fas fa-check"></i></span>Đặt hàng thành công</h1>
        <div class="btn-back">
            <a class="common-btn" asp-action="Index" asp-controller="Home">Quay lại trang chủ</a>
        </div>
    </div>
</div>