@{
    Layout = "_Layout";
}
<div class="container" style="width:930px">
    <div class="success-w">
        <div class="alert alert-success" role="alert">
            <i class="fas fa-check" style="margin-right:5px"></i>Đặt hàng thành công
        </div>
        <div class="row" style="margin-top:20px">
            <div class="col-lg-6" style="font-size:20px"><strong>Tên: </strong>Nguyễn Chung Tâm</div>
            <div class="col-lg-6" style="font-size:20px"><strong>Email: </strong>: Nguyễn Chung Tâm</div>
        </div>
        <div class="row">
            <div class="col-lg-6" style="font-size:20px"><strong>SĐT: </strong>Nguyễn Chung Tâm</div>
            <div class="col-lg-6" style="font-size:20px"><strong>Địa chỉ: </strong>: Nguyễn Chung Tâm</div>
        </div>
        <div class="row">
            <div class="col-lg-6" style="font-size:20px"><strong>Phương thức thanh toán: </strong>Nguyễn Chung Tâm</div>
            <div class="col-lg-6" style="font-size:20px"><strong>Tiền ship: </strong>: Nguyễn Chung Tâm</div>
        </div>
        <div class="row">
            <div class="col-lg-6" style="font-size:20px"><strong>Điểm được tích: </strong>Nguyễn Chung Tâm</div>
            <div class="col-lg-6" style="font-size:20px"><strong>Điểm sử dụng: </strong>: Nguyễn Chung Tâm</div>
        </div>
        <div class="row">
            <div class="col-lg-6" style="font-size:20px"><strong>Giá trị điểm sử dụng: </strong>Nguyễn Chung Tâm</div>
            <div class="col-lg-6" style="font-size:20px"><strong>Giá trị voucher: </strong>: Nguyễn Chung Tâm</div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="font-size:20px"><strong>Ghi chú: </strong>Nguyễn Chung Tâm</div>
        </div>
        <div class="shopping__cart__table" style="margin-top:20px">
            <table style="width:100%" class="table">
                <thead>
                    <tr>
                        <th>Sản phẩm</th>
                        <th style="text-align:center">Giá bán</th>
                        <th style="text-align:center">Số lượng</th>
                        <th style="text-align:center">Tổng cộng</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="product__cart__item">
                            <div class="product__cart__item__pic">
                                <img style="height:50px;width:50px" src="/img/product/40a9de057378a158cc53f285aeed232a231024382231803549232319375.jpg" alt="">
                            </div>
                            <div class="product__cart__item__text" style="padding-top:0px!important">
                                <h6>Ten san pham</h6>
                                <h5>Vang/S</h5>
                            </div>
                        </td>
                        <td class="cart__price" style="text-align:center">10000</td>
                        <td class="quantity__item" style="text-align:center;font-weight:700">2</td>
                        <td class="cart__price" style="text-align:center">10000</td>
                    </tr>
                    <tr>
                        <td style="font-size:20px;font-family:'Nunito Sans', sans-serif;font-weight:700">Tổng tiền</td>
                        <td></td>
                        <td></td>
                        <td class="cart__price" style="text-align:center"> 10000</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-end">
            <a asp-action="Index" class="btn btn-secondary" style="margin-right:5px">Xuất PDF</a>
            <a asp-action="Index" class="btn btn-primary">Quay về trang chủ</a>
        </div>
    </div>
</div>