@{
    Layout = "_Layout";
}
    <!-- Map Begin -->
    <div class="map">
        
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12135.90818320517!2d105.73572428757547!3d21.037907760180474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313455e940879933%3A0xcf10b34e9f1a03df!2zVHLGsOG7nW5nIENhbyDEkeG6s25nIEZQVCBQb2x5dGVjaG5pYw!5e0!3m2!1svi!2sus!4v1703000390912!5m2!1svi!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <!-- Map End -->

    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="contact__text">
                        <div class="section-title">
                            <span>Thông tin</span>
                            <h3>Liên hệ với chúng tôi</h3>
                            <p>Liên hệ với chúng tôi khi bạn có thắc mắc</p>
                        </div>
                        <ul>
                            <li>
                                <h5>Số điện thoại</h5>
                                <p>1900996686</p>
                            </li>
                            <li>
                                <h5>Email</h5>
                                <p>ykien.poly@fpt.edu.vn</p>
                            </li>
                            <li>
                                <h5>Địa chỉ</h5>
                                <p>Tòa nhà FPT Polytechnic, Phố Trịnh Văn Bô, Nam Từ Liêm, Hà Nội.</p>
                            </li>
                        </ul>
                    </div>
                </div>
               @* <div class="col-lg-6 col-md-6">
                    <div class="contact__form">
                        <form action="#">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="text" placeholder="Name">
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" placeholder="Email">
                                </div>
                                <div class="col-lg-12">
                                    <textarea placeholder="Message"></textarea>
                                    <button type="submit" class="site-btn">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>*@
            </div>
        </div>
    </section>
    <!-- Contact Section End -->
