@{
    Layout = "_Layout";
    ViewData["Title"] = "ForgotPassword";
}

<div class="row" style="margin-top:50px">
    <div class=col-4></div>
    <div class="col-4">
        <h3 style="text-align:center;margin-bottom:10px"><strong>Quên mật khẩu</strong></h3>
        <div class="tab-content">
            <div>
                <form method="post">
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label">Email</label>
                        <input type="email" name="email" class="form-control" />
                    </div>
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4">Gửi mã</button>
                </form>
            </div>
        </div>
        <div class=col-4></div>
    </div>
</div>
