@model AppData.ViewModels.SanPham.ChiTietSanPhamViewModelHome
@{
    Layout = "_Layout";
}
<link href="~/css/productdetail.css" rel="stylesheet" type="text/css" />
<style>
    #filter-color input[type="radio"], #filter-size input[type="radio"], #LoaiSpFilter input[type="radio"], #filter-material input[type="radio"] {
        display: none;
    }

    #filter-color label input[type="radio"]:checked ~ span, #filter-size label input[type="radio"]:checked ~ span, #LoaiSpFilter label input[type="radio"]:checked ~ span, #filter-material label input[type="radio"]:checked ~ span {
        background: black;
        color: #e5e5e5;
    }

    #filter-color label span, #filter-size label span, #filter-material label span, #LoaiSpFilter label span {
        color: #111111;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        display: inline-block;
        border: 1px solid #e5e5e5;
        padding: 6px 25px;
        margin-bottom: 10px;
        margin-right: 5px;
        cursor: pointer;
    }

    #tronMau label {
        left: -3px;
        top: -3px;
        height: 36px;
        width: 36px;
        border: 1px solid #e5e5e5;
        content: "";
        border-radius: 50%;
        border: 2px solid black;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    #tronMau svg {
        visibility: hidden
    }

    #tronMau input[type="radio"]:checked ~ label svg {
        visibility: visible
    }

    #filter-color label span:hover, #filter-size label span:hover, #filter-material label span:hover, #LoaiSpFilter label span:hover {
        background: black;
        color: white;
    }
</style>
<div class="container mt-5 mb-5">
    <div class="card">
        <div class="row g-0">
            <div class="col-md-6 border-end">
                <div class="d-flex flex-column justify-content-center">
                    <div class="main_image">
                        <img src="~/img/product/@Model.Anhs.First(x=>x.TrangThai==1).DuongDan" id="main_product_image" width="350">
                    </div>
                    <div class="thumbnail_images">
                        <ul id="thumbnail">
                            @foreach (var x in Model.Anhs)
                            {
                                <li><img onclick="changeImage(this)" src="~/img/product/@x.DuongDan" width="70"></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-3 right-side">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3>@Model.Ten</h3>
                    </div>
                    <h3>@Model.ChiTietSanPhams.First(x=>x.TrangThai==1).GiaBan</h3>
                    <div class="ratings d-flex flex-row align-items-center">
                        <div class="d-flex flex-row">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bx-star'></i>
                        </div>
                        <span>441 reviews</span>
                    </div>
                    <div class="mt-5">
                        <span class="fw-bold">Màu Sắc</span>
                        <div class="colors" id="filter-color">
                            
                                @foreach (var item in Model.MaMauSacs.Distinct())
                                {
                                <label id="tronMau">
                                    <input type="radio" class="btn-check" id="btn-check-outlined_@item" autocomplete="off" val="@item" name="color">
                                    <label for="btn-check-outlined_@item" style="background-color:@item">
                                        @if (item == "#000000")
                                        {
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" color="white" class="bi bi-check-circle" viewBox="0 0 16 16">
                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                                            </svg>
                                        }
                                        else
                                        {
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                                            </svg>
                                        }

                                    </label>
                                </label>
                                }
                            
                        </div>
                    </div>
                    <div class="mt-5">
                        <span class="fw-bold">Kích cỡ</span>
                        <div class="colors">
                            <ul id="sizes">
                                @foreach (var item in Model.TenKichCo)
                                {
                                    <li>@item</li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="buttons d-flex flex-row mt-5 gap-3">
                        <button class="btn btn-outline-dark">Buy Now</button>
                        <button class="btn btn-dark">Add to Basket</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function changeImage(element) {

        var main_prodcut_image = document.getElementById('main_product_image');
        main_prodcut_image.src = element.src;
    }
</script>
