@using AppData.ViewModels;
@model List<DonMuaViewModel>
@{
    Layout = "_Layout";
}
<style>
    #navbar {
        display:flex;
        justify-content: space-evenly;
        align-items:center;
        padding: 10px 0px 10px 0px;
        background-color:white;
        /*margin-bottom:24px;*/
    }

    #AllHoaDon{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: white;
    }
    #navbar div label {
        margin:0px;
    }

    #navbar div label span{
        cursor: pointer;
        padding:10px;
    }
    #navbar input[type="radio"]{
        display:none;
    }

    #navbar label input[type="radio"]:checked ~ span{
        border-bottom: 1px solid black;
    }
    .adon a:hover {
        color:black;
    }

    .VrgkXA {
        padding: 12px 0;
        margin: 12px 0;
        display: flex;
        align-items: center;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
        color: #212121;
        background: white;
        border-radius: 2px;
    }

    .VrgkXA > input {
        flex: 1;
        font-size: 14px;
        line-height: 16px;
        border: 0;
        outline: none;
        background-color: inherit;
    }
</style>
<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="https://localhost:5001/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Đơn mua</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div onchange="LocHoaDon()" id="navbar">
                    <div >
                        <label>
                            <input type="radio" name="menu" value="0" checked/>
                            <span>Tất cả</span>
                        </label>
                    </div>
                    <div >
                        <label>
                            <input type="radio" name="menu" value="2" />
                            <span>Chờ xác nhận</span>
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="radio" name="menu" value="10" />
                            <span>Chờ đóng hàng</span>
                        </label>
                    </div>
                    <div >
                        <label>
                            <input type="radio" name="menu" value="3" />
                            <span>Đang giao</span>
                        </label>
                    </div>
                    <div >
                        <label>
                            <input type="radio" name="menu" value="6" />
                            <span>Hoàn thành</span>
                        </label>
                    </div>
                    <div >
                        <label>
                            <input type="radio" name="menu" value="7"/>
                            <span>Đã hủy</span>
                        </label>
                    </div>
                    <div >
                        <label>
                            <input type="radio" name="menu" value="5"/>
                            <span>Hoàn hàng</span>
                        </label>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="VrgkXA">
            <svg width="19px" height="19px" viewBox="0 0 19 19">
                <g id="Search-New" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="my-purchase-copy-27" transform="translate(-399.000000, -221.000000)" stroke-width="2">
                        <g id="Group-32" transform="translate(400.000000, 222.000000)"><circle id="Oval-27" cx="7" cy="7" r="7"></circle>
                            <path d="M12,12 L16.9799555,16.919354" id="Path-184" stroke-linecap="round" stroke-linejoin="round">

                            </path>
                        </g>
                    </g>
                </g>
            </svg><input id="search" oninput="LocHoaDon()" aria-label="" role="search" autocomplete="off" placeholder="Bạn có thể tìm kiếm mã hóa đơn" value="">
        </div>
        <div id="AllHoaDon" style="display:inherit;">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Mã đơn hàng</th>
                        <th scope="col">Ngày đặt</th>
                        <th scope="col">Ngày thanh toán</th>
                        <th scope="col">Ngày nhận hàng</th>
                        <th scope="col">Thành tiền</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Loại hóa đơn</th>
                    </tr>
                </thead>
                <tbody id="DShoaDon">
                    @*@foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row"><a href="PurchaseOrderDetail?idHoaDon=@item.IDHoaDon">@item.MaHD</a></th>
                            <td>@item.NgayTao</td>
                            <td>@Convert.ToInt32(item.TongTien).ToString("n0") VNĐ</td>
                            @if (item.TrangThaiGiaoHang == 2)
                            {
                                <td>Chờ xác nhận</td>
                            }
                            else if (item.TrangThaiGiaoHang == 3)
                            {
                                <td>Đang giao</td>
                            }
                            else if (item.TrangThaiGiaoHang == 6)
                            {
                                <td>Giao hàng thành công</td>
                            }
                            else if (item.TrangThaiGiaoHang == 7)
                            {
                                <td>Đơn hủy</td>
                            }
                            else if (item.TrangThaiGiaoHang == 8)
                            {
                                <td>Chờ xác nhận - Hủy</td>
                            }
                            else if (item.TrangThaiGiaoHang == 9)
                            {
                                <td>Chờ xác nhận - Đổi trả</td>
                            }
                            else
                            {
                                <td>Chờ xác nhận</td>
                            }
                            @if (item.TrangThaiLSTD == 1)
                            {
                                <td>@item.Diem</td>
                            }else{
                                <td>Người dùng sử dụng điểm</td>
                            }
                            
                        </tr>
                    }*@
                </tbody>
                
            </table>
        </div>
        <div class="row">
            <div class="col-lg-12">
                
                    <ul id="pagination-demo" class="pagination"></ul>
                
            </div>
        </div>
    </div>
</section>
<script src="/js/jquery-3.3.1.min.js"></script>
<script>
    var pageIndex = 1;
    var pagesize = 5;

    $(document).ready(function () {
        FilterHoaDon();
    });
    function LocHoaDon(){
        $("#pagination-demo").twbsPagination('destroy');
        FilterHoaDon();
    }
    function FilterHoaDon(){
        var x = document.querySelector('input[name="menu"]:checked').value;
        var y = document.getElementById("search").value;
        var data = { TrangThaiGiaoHang: x, page: pageIndex, pageSize: pagesize, Search :y}
        $.ajax({
            url: "/Home/GetHoaDonByTrangThai",
            type: "GET",
            data: data,
            success: function (response) {
                $("#DShoaDon").empty();
                console.log(response.data);
                for (let i = 0; i < response.data.length; i++) {
                    $("#DShoaDon").append(`<tr>
                            <th class="adon" scope="row"><a href="PurchaseOrderDetail?idHoaDon=${response.data[i].idHoaDon}">${response.data[i].maHD}</a></th>
                                <td>${response.data[i].ngaytao1}</td>
                                <td>${response.data[i].ngaythanhtoan1 === null ? 'Chờ xử lý' : response.data[i].ngaythanhtoan1}</td>
                                <td>${response.data[i].ngaynhanhang1 === null ? 'Chờ xử lý' : response.data[i].ngaynhanhang1}</td>
                                <td>${Intl.NumberFormat().format(response.data[i].tongTien)} VNĐ</td>
                            <td>
                                ${response.data[i].trangThaiGiaoHang === 2 ? '<label>Chờ xác nhận</label>' :
                                    response.data[i].trangThaiGiaoHang === 3 ? '<label>Đang giao hàng</label>' :
                                    response.data[i].trangThaiGiaoHang === 4 ? '<label>Đang hoàn hàng</label>' :
                                    response.data[i].trangThaiGiaoHang === 5 ? '<label>Hoàn hàng thành công</label>' :
                                    response.data[i].trangThaiGiaoHang === 6 ? '<label>Hoàn thành</label>' :
                                    response.data[i].trangThaiGiaoHang === 7 ? '<label>Đơn hủy</label>' :
                                    response.data[i].trangThaiGiaoHang === 8 ? '<label>Chờ xác nhận hủy</label>' :
                                    response.data[i].trangThaiGiaoHang === 9 ? '<label>Chờ xác nhận hoàn hàng</label>' :
                                    response.data[i].trangThaiGiaoHang === 10 ? '<label>Chờ đóng hàng</label>' :
                                    '<label>Chờ xác nhận hoàn hàng</label>'}
                            </td>
                            <td>${response.data[i].loaiHoaDon === 0 ? '<label>Mua hàng online</label>' : '<label>Mua hàng tại quầy</label>'}</td>
                        </tr>`);
                }
                paginghd(response.total, function () {
                    FilterHoaDon()
                });
            },
            error: function (err) {
                console.log('Error:', err);
            }
        });
    }
    function paginghd(totalrow, callback) {
        var totalpages = Math.ceil(totalrow / pagesize);
        $("#pagination-demo").twbsPagination({
            totalPages: totalpages,
            visiblePages: 5,
            first:'Đầu',
            last:'Cuối',
            prev:'Trước',
            next:'Tiếp',
            onPageClick: function (event, page) {
                pageIndex = page;
                setTimeout(callback, 200);
            }
        });
    }
    function billDetail(id){
        window.location = 'https://localhost:5001/Home/PurchaseOrderDetail?idHoaDon=';
    }
</script>