@model AppData.ViewModels.KhachHangViewModel
@{
    Layout = "_Layout";
}
<div class="row" style="margin-top:10px">
    <div class=col-4></div>
    <div class="col-4">
        <!-- Pills navs -->
        <h3 style="text-align:center;margin-bottom:10px"><strong>REGISTER</strong></h3>
        <!-- Pills navs -->
        <!-- Pills content -->
        <div class="tab-content" style="border-radius: 1rem;">
            <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                <form method="post" onsubmit="register(event)" id="registerForm">
                    <div class="form-outline mb-4">
                        <label class="form-label">Name</label>
                        <input asp-for="Name" type="text" id="name" class="form-control" />
                    </div>
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label">Email address</label>
                        <input asp-for="Email" type="email" id="email" class="form-control" />
                    </div>
                    <!-- PhoneNumber input -->
                    <div class="form-outline mb-4">
                        <label class="form-label">Phone number</label>
                        <input asp-for="SDT" type="text" id="sdt" class="form-control" />
                    </div>
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <label class="form-label">Password</label>
                        <input asp-for="Password" type="password" id="password" class="form-control" />
                    </div>
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <label class="form-label">Confirm Password</label>
                        <input type="password" id="confirm" class="form-control" />
                    </div>
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
                    <!-- Register buttons -->
                    <div class="text-center">
                        <p>Have an account?<a asp-action="Login"> Go to Login</a></p>
                    </div>
                </form>
            </div>
        </div>
        <div class=col-4></div>
    </div>
</div>
<script>
    function register(e) {
        e.preventDefault();
        var name = $("#name").val();
        var email = $("#email").val();
        var password = $("#password").val();
        var confirm = $("#confirm").val();
        var sdt = $("#sdt").val();
        if (name.trim() === "" || email.trim() === "" || password.trim() === "" || confirm.trim() === "" || sdt.trim() === "") {
            Swal.fire({
                title: "Vui lòng điền đầy đủ thông tin",
                icon: "warning",
                confirmButtonText: "OK"
            });
        } else if (password !== confirm) {
            Swal.fire({
                title: "Password và Confirm Password không khớp!",
                icon: "error",
                confirmButtonText: "OK"
            });
        } else {
            Swal.fire({
                title: "Đăng ký thành công",
                icon: "success",
                confirmButtonText: "Đến trang Login"
            }).then(result => {
                if (result.isConfirmed) {
                    const registerForm = document.getElementById('registerForm');
                    registerForm.submit();
                }
            });
        }
    }

</script>