@model AppData.ViewModels.KhachHangViewModel
@{
    Layout = "_Layout";
}
<div class="row" style="margin-top:10px">
    <div class=col-4></div>
    <div class="col-4">
        <!-- Pills navs -->
        <h3 style="text-align:center;margin-bottom:10px"><strong>Đăng ký</strong></h3>
        <!-- Pills navs -->
        <!-- Pills content -->
        <div class="tab-content" style="border-radius: 1rem;">
            <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                <form method="post" onsubmit="register(event)" id="registerForm" autocomplete="off" >
                    <div class="form-outline mb-4">
                        <label class="form-label">Tên</label>
                        <input asp-for="Name" type="text" id="name" class="form-control" autocomplete="off"/>
                        <div class="invalid-feedback"> Không để trống tên</div>
                    </div>
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label">Email </label>
                        <input asp-for="Email" type="email" id="email" class="form-control" autocomplete="nope" />
                        <div class="invalid-feedback"> Không để trống email </div>
                    </div>
                    <!-- PhoneNumber input -->
                    <div class="form-outline mb-4">
                        <label class="form-label">SDT</label>
                        <input asp-for="SDT" type="text" id="sdt" class="form-control" autocomplete="off" />
                        <div class="invalid-feedback"> Không để trống SDT </div>
                    </div>
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <label class="form-label">Mật khẩu</label>
                        <input asp-for="Password" type="password" id="password" class="form-control" autocomplete="new-password" />
                        <div class="invalid-feedback"> Không để trống Password </div>
                    </div>
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <label class="form-label">Nhập lại mật khẩu</label>
                        <input type="password" id="confirm" class="form-control" autocomplete="new-password" />
                        <div class="invalid-feedback"> Không để trống ConfirmPassword </div>
                    </div>
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4">Đăng ký</button>
                    <!-- Register buttons -->
                    <div class="text-center">
                        <p>Bạn đã có tài khoản<a asp-action="Login"> Đăng nhập</a></p>
                    </div>
                </form>
            </div>
        </div>
        <div class=col-4></div>
    </div>
</div>
<script>
    
    function register(e) {
        e.preventDefault();
        var name = $("#name").val();
        var email = $("#email").val();
        var password = $("#password").val();
        var confirm = $("#confirm").val();
        var sdt = $("#sdt").val();
        $('.invalid-feedback').text('');
        $('.is-invalid').removeClass('is-invalid');
        var hasError = false;

        if (name.trim().length === 0) {
            $('#name').addClass('is-invalid');
            $('#name').next('.invalid-feedback').text('Không để trống tên');
            hasError = true;
        }
        var emailRegex = /^[a-zA-Z0-9._%+-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
        if (email.trim().length === 0) {
            $('#email').addClass('is-invalid');
            $('#email').next('.invalid-feedback').text('Không để trống email');
            hasError = true;
        }
        else if (!emailRegex.test(email)) {
            $('#email').addClass('is-invalid');
            $('#email').next('.invalid-feedback').text('Email không hợp lệ');
            hasError = true;
        }
        var phoneNumberRegex = /^\d{10}$/;
        if (sdt.trim().length === 0) {
            $('#sdt').addClass('is-invalid');
            $('#sdt').next('.invalid-feedback').text('Không để trống sdt');
            hasError = true;
        } else if (!phoneNumberRegex.test(sdt)) {
            $('#sdt').addClass('is-invalid');
            $('#sdt').next('.invalid-feedback').text('Số điện thoại không hợp lệ');
            hasError = true;
        }
        if (password.trim().length === 0) {
            $('#password').addClass('is-invalid');
            $('#password').next('.invalid-feedback').text('Không để trống password');
            hasError = true;
        } else if(password.trim().length < 8){
            $('#password').addClass('is-invalid');
            $('#password').next('.invalid-feedback').text('Password phải lớn hơn 8 kí tự');
            hasError = true;
        }

        if (confirm.trim().length === 0) {
            $('#confirm').addClass('is-invalid');
            $('#confirm').next('.invalid-feedback').text('Không để trống ConfirmPassword');
            hasError = true;
        } else if (password !== confirm) {
            $("#confirm").addClass('is-invalid');
            $("#confirm").next('.invalid-feedback').text("Mật khẩu và xác nhận không khớp");
            hasError = true;
        }
        if(hasError){
            alert("Vui long dien day du thong tin");    
        }
        else{
            Swal.fire({
                title: "Đăng ký thành công",
                icon: "success",
                confirmButtonText: "Đến trang Login"
            }).then(result => {
                if (result.isConfirmed) {
                    const registerForm = document.getElementById('registerForm');
                    registerForm.submit();
                }
            });
        }
        $('#name,#email,#password,#confirm,#sdt').on('input', function () {
            $(this).removeClass('is-invalid');
            $(this).next('.invalid-feedback').text('');
        });
    }
</script>