@{
    Layout = "_Layout";
}
<div style=" text-align: center;">
    <h3>Đăng ký thành công!</h3>
    <p>Bạn đã đăng ký tài khoản thành công. Vui lòng đăng nhập để tiếp tục.</p>
    <a asp-action="Login" asp-route-actionName="Index" class="btn btn-primary">Đăng nhập</a>
</div>
