@{
    Layout = "_Layout";
}

<div class="row" style="margin-top:50px">
    <div class=col-4></div>
    <div class="col-4">
        <h3 style="text-align:center;margin-bottom:10px"><strong>Nhập mã được gửi đến trong email</strong></h3>
        <div class="tab-content">
            <div>
                <form method="post">
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label">Mã xác nhận</label>
                        <input type="text" name="code" class="form-control" />
                    </div>
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4">Xác nhận</button>
                </form>
            </div>
        </div>
        <div class=col-4></div>
    </div>
</div>
