@model AppData.Models.MauSac

@{
    ViewData["Title"] = "Create";
}

<h1>Thêm mới màu sắc</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">
                @ViewBag.ErrorMessage
            </div>
        }
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ten" class="control-label">Tên</label>
                <input asp-for="Ten" class="form-control" />
                <div id="emptyNameError" class="invalid-feedback d-none">Vui lòng nhập tên màu sắc!</div>
            </div>
            <div class="form-group">
                <label asp-for="Ma" class="control-label">Mã</label>
                @*<input asp-for="Ma" class="form-control" />*@
                <input asp-for="Ma" type="color" value ="#0000"class="form-control" />
                <div id="maNameError" class="invalid-feedback d-none">Vui lòng chọn mã màu sắc!</div>
            </div>
            <div class="form-group" hidden>
                <label asp-for="TrangThai" class="control-label"></label>
                <input asp-for="TrangThai"  class="form-control" value="1"/>
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" style="margin-top: 10px" />
            </div>
        </form>
    </div>
</div>
<script>
    $("input[name='Ten']").on("input", function () {
        $(this).removeClass("is-invalid");
        $("#emptyNameError").text("");
    });
    $("input[name='Ma']").on("input", function () {
        $(this).removeClass("is-invalid");
        $("#maNameError").text("");
    });
    $("form").submit(function () {
        var tenInput = $("input[name='Ten']");
        var maInput = $("input[name='Ma']");
        var tenValue = tenInput.val();
        var maValue = maInput.val();
        if (tenValue.trim() === "") {
            tenInput.addClass("is-invalid");
            $("#emptyNameError").text("Tên không được bỏ trống");
            return false;
        }
        if (maValue.trim() === "") {
            tmaenInput.addClass("is-invalid");
            $("#maNameError").text("ma không được bỏ trống");
            return false;
        }
        return true;
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
