@model AppData.ViewModels.SanPham.ChiTietSanPhamUpdateRequest

@{
    ViewData["Title"] = "Thêm chi tiết sản phẩm";
}

<h1>Thêm chi tiết sản phẩm</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddChiTietSanPham">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
            <div class="form-group">
                <label class="control-label">Màu sắc</label>
                <table id="tbmausac" style="width:450px">
                    <tbody class="table" id="tbbody">
                        <tr id="mau0">
                            <td style="width:70%">
                                <input name="MauSacs[0].Ten" class="form-control" list="mauSac" id="tenMau0" onchange="changeTenMau(0)" autocomplete="off" />
                            </td>
                            <td style="width:45.6px">
                                <input name="MauSacs[0].Ma" type="color" class="form-control" value="#000000" id="maMau0" onchange="changeMaMau(0)" style="height:41.6px;width:100%"/>
                            </td>
                            <td style="width:50px">
                                <input type="button" class="form-control" value="-" hidden id="xoamau0" onclick="xoaMau(0)" />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <input type="button" class="form-control" value="+" onclick="themMauSac(this)" />
                <datalist id="mauSac"></datalist>
            </div>
            <div class="form-group" id="lstKichCo">
                <label class="control-label">Kích cỡ</label>
                <div class="row" style='width:450px' id="size0">
                    <div class="col-lg-10" style='padding-right:0px'>
                        <input name="KichCos[0]" class="form-control" list="kichCo" id="tenkc0" autocomplete="off"/>
                    </div>
                    <div class="col-lg-2" style='padding-left:0px'>
                        <input type="button" class="form-control" value="-" hidden id="xoasize0" onclick="xoaSize(0)" />
                    </div>
                </div>
                <input type="button" class="form-control" value="+" onclick="themKichCo(1,this)" />
            </div>
            <datalist id="kichCo"></datalist>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/js/jquery-3.3.1.min.js"></script>
<script>
    var countMauSac = 1;
    var lstMauSac = [];
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/Admin/GetAllMauSac",
            success: function (response) {
                for (var i = 0; i < response.length; i++) {
                    response[i].ma = response[i].ma.toLowerCase();
                    lstMauSac.push(response[i]);
                    var rows = "<option value='" + response[i].ten + "'>" + response[i].ten + "</option>";
                    $('#mauSac').append(rows);
                }
            }
        });
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/Admin/GetAllKichCo",
            success: function (response) {
                for (var i = 0; i < response.length; i++) {
                    var rows = "<option value='" + response[i].ten + "'>" + response[i].ten + "</option>";
                    $('#kichCo').append(rows);
                }
            }
        });
    });

    function themKichCo(count, element) {
        $("#lstKichCo").append(`<div class="row" style='width:450px' id="size${count}">
                <div class="col-lg-10" style='padding-right:0px'>
                    <input name="KichCos[${count}]" class="form-control" list="kichCo" id="tenkc${count}" autocomplete="off" />
                </div>
                <div class="col-lg-2" style='padding-left:0px'>
                <input type="button" class= "form-control" value="-" hidden id="xoasize${count}" onclick="xoaSize(${count})"/>
                </div>
                </div><input type='button' class='form-control' onclick='themKichCo(${count + 1},this)' value='+' / > `);
        document.getElementById("xoasize" + (count - 1)).hidden = false;
        element.remove();
    }
    function themMauSac() {
        $("#tbbody").append("<tr id='mau" + countMauSac + "'><td style='width:70%'> <input name='MauSacs[" + countMauSac + "].Ten' class='form-control' list='mauSac' id='tenMau" + countMauSac + "' onchange='changeTenMau(" + countMauSac + ")' autocomplete=\"off\" /></td><td style='width: 45.6px'><input name='MauSacs[" + countMauSac + "].Ma' type='color' onchange='changeMaMau(" + countMauSac + ")' class='form-control' id='maMau" + countMauSac + "' style='height: 41.6px;width:100%'/></td><td style='width: 50px'><input type='button' class='form-control' value='-' hidden id = 'xoamau" + countMauSac + "' onclick='xoaMau(" + countMauSac + ")' /></td></tr > ");
        document.getElementById("xoamau" + (countMauSac - 1)).hidden = false;
        countMauSac++;
    }
    function changeTenMau(count) {
        var tenMau = $("#tenMau" + count).val();
        var maMau = lstMauSac.find(x => x.ten == tenMau).ma;
        document.getElementById("maMau" + count).value = maMau;
    }
    function changeMaMau(count) {
        var maMau = $("#maMau" + count).val();
        var tenMau = "";
        var mauSac = lstMauSac.find(x => x.ma == maMau);
        if (mauSac == null) {
            tenMau = "";
        }
        else {
            tenMau = mauSac.ten;
        }
        document.getElementById("tenMau" + count).value = tenMau;
    }
    function xoaMau(count) {
        document.getElementById("mau" + count).hidden = true;
        document.getElementById("tenMau" + count).value = 'Deleted';
    }
    function xoaSize(count) {
        document.getElementById("size" + count).hidden = true;
        document.getElementById("tenkc" + count).value = 'Deleted';
    }
</script>
