@{
    ViewData["Title"] = "ProductManager";
}

<h1>Quản lý sản phẩm</h1>

<div class="row">
    <div class="col-lg-4">
        <a asp-action="AddSanPham" class="btn btn-primary">Thêm sản phẩm</a>
    </div>
    <div class="col-lg-8 d-flex justify-content-end">
        <div class="col-lg-1" style="padding:0px">
            <p style="text-align:end;margin-top:5px;margin-right:5px">Sắp xếp: </p>
        </div>
        <div class="col-lg-3" style="padding:0px;margin-right:5px">
            <select class="form-select" id="sort" onchange="ReloadPagination()">
                <option selected value="1">Sắp xếp theo mã</option>
                <option value="6">Sắp xếp theo tên</option>
                <option value="2">Sắp xếp theo giá tăng dần</option>
                <option value="3">Sắp xếp theo giá giảm dần</option>
                <option value="4">Sắp xếp theo số lượng tăng dần</option>
                <option value="5">Sắp xếp theo số lượng giảm dần</option>
            </select>
        </div>
        <div class="col-lg-1" style="padding:0px">
            <button class="btn" style="border:1px solid black" type="button" data-bs-toggle="collapse" data-bs-target=".filter"><i class="bx bx-filter-alt"></i></button>
        </div>
    </div>   
</div>
<div class="row filter collapse" style="margin-bottom:10px">
    <div class="col-lg-3" style="padding-left:0px;padding-right:2px">
        <p style="margin:0px;">Tên sản phẩm:</p>
        <input type="text" class="form-control" placeholder="Tìm kiếm theo tên sản phẩm" style="width:100%"  id="searchName">
    </div>
    <div class="col-lg-2" style="padding-left:2px;padding-right:2px">
        <p style="margin:0px">Giá bán:</p>
        <input type="number" class="form-control" placeholder="Min" style="width:100%" id="priceMin">   
    </div>
    <div class="col-lg-2" style="padding-left:2px;padding-right:2px">
        <p style="margin:0px">&ensp;</p>
        <input type="number" class="form-control" placeholder="Max" style="width:100%" id="priceMax">
    </div>
    <div class="col-lg-2" style="padding-left:2px;padding-right:2px">
        <p style="margin:0px">Loại sản phẩm cha:</p>
        <select class="form-select" id="categorydad">
            <option selected value="all">Tất cả</option>
        </select>
    </div>
    <div class="col-lg-2" style="padding-left:2px;padding-right:2px">
        <p style="margin:0px">Loại sản phẩm con:</p>
        <select class="form-select" id="categoryson">
            <option selected value="all">Tất cả</option>
        </select>
    </div>
    <div class="col-lg-1" style="padding-left:2px;padding-right:2px">
        <p style="margin:0px">&ensp;</p>
        <button class="btn btn-primary" type="button" onclick="ReloadPagination()">Lọc</button>
    </div>
</div>
<div class=" row">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Tên
                </th>
                <th>
                    Mã
                </th>
                <th>
                    Ảnh
                </th>
                <th>
                    Giá gốc
                </th>
                <th>
                    Giá bán
                </th>
                <th>
                    Số lượng
                </th>
                <th>
                    Chất liệu
                </th>
                <th>
                    Loại sản phẩm
                </th>
                <th>
                    Trạng thái
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="list_products">
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-lg-12 d-flex justify-content-center">
        <ul id="pagination-demo" class="pagination"></ul>
    </div>
</div>
<script src="/js/jquery-3.3.1.min.js"></script>
<script>
    var pageIndex = 1;
    var pagesize = 10;
    $(document).ready(function () {
        loadsp();
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/Admin/GetLoaiSPCha",
            success: function (response) {
                for (var i = 0; i < response.length; i++) {
                    var rows = "<option value='" + response[i].ten + "'>" + response[i].ten + "</option>";
                    $('#categorydad').append(rows);
                }
            }
        });
    });
    function loadsp() {
        var searchName = $("#searchName").val();
        var min = $("#priceMin").val();
        var max = $("#priceMax").val();
        var categorydad = $("#categorydad").val();
        var categoryson = $("#categoryson").val();
        var sort = $("#sort").val();
        var request = { page: pageIndex, pageSize: pagesize, search: searchName, minPrice: min, maxPrice: max, loaiSPCha: categorydad, loaiSPCon: categoryson, sortSP : sort};
        $.ajax({
            url: "/Admin/ShowProduct",
            type: "GET",
            data: request,
            success: function (response) {
                $("#list_products").empty();
                $.each(response.data, function (i, item) {
                    if (item.trangThai == 1)
                        $("#list_products").append(`<tr><td>${item.ten}</td><td>${item.ma}</td><td><img src="/img/product/${item.anh}" style="width:70px;height:80px" /></td><td>${item.giaGoc}</td><td>${item.giaBan}</td><td>${item.soLuong}</td><td>${item.chatLieu}</td><td>${item.loaiSPCha}/${item.loaiSPCon}</td><td id='hoatDong_${item.id}' style="width:228px"><span style="color:green">Hoạt động</span></td><td style="width:250px"><a href='/Admin/ProductDetail?idSanPham=${item.id}' class="btn btn-primary" style="margin-right:5px">Chi tiết</a><a href='/Admin/UpdateSanPham?id=${item.id}' class="btn btn-warning" style="margin-right:5px">Sửa</a><button type='button' onclick="xoa('${item.id}',0)" class="btn btn-danger">Xoá</button></td></tr>`);
                    else {
                        $("#list_products").append(`<tr><td>${item.ten}</td><td>${item.ma}</td><td><img src="/img/product/${item.anh}" style="width:70px;height:80px" /></td><td>${item.giaGoc}</td><td>${item.giaBan}</td><td>${item.soLuong}</td><td>${item.chatLieu}</td><td>${item.loaiSPCha}/${item.loaiSPCon}</td><td id='hoatDong_${item.id}' style="width:228px"><span style="color:red">Không hoạt động</span></td><td style="width:250px" id='xoa_${item.id}'><a href='/Admin/ProductDetail?idSanPham=${item.id}' class="btn btn-primary" style="margin-right:5px">Chi tiết</a><a href='/Admin/UpdateSanPham?id=${item.id}' class="btn btn-warning" style="margin-right:5px">Sửa</a><button type='button' onclick="xoa('${item.id}',1)"  class="btn btn-success">Hoàn tác</button></td></tr>`);
                    }
                });
                pagingsp(response.total, function () {
                    loadsp();
                });
            },
            error: function (err) {
                console.log('Error:', err);
            }
        });
    }
    function pagingsp(totalrow, callback) {
        var totalgages = Math.ceil(totalrow / pagesize);
        $("#pagination-demo").twbsPagination({
            totalPages: totalgages,
            visiblePages: 7,
            onPageClick: function (event, page) {
                pageIndex = page;
                setTimeout(callback, 200);
            }
        });
    }
    function ReloadPagination() {
        $("#pagination-demo").twbsPagination('destroy');
        loadsp();
    }

    $("#categorydad").change(function () {
        var value = $("#categorydad").val();
        if (value != "all") {
            $.ajax({
                type: "GET",
                dataType: "json",
                data: { tenLoaiSPCha: value },
                url: "/Admin/GetLoaiSPCon",
                success: function (response) {
                    $("#categoryson").empty();
                    var rows = `<option selected value="all">Tất cả</option>`;
                    for (var i = 0; i < response.ketQua.length; i++) {
                        rows += "<option value='" + response.ketQua[i].ten + "'>" + response.ketQua[i].ten + "</option>";
                    }
                    $('#categoryson').append(rows);
                }
            });
        }
        else {
            document.getElementById("categoryson").value = 'all';
            $("#categoryson").empty();
            var rows = `<option selected value="all">Tất cả</option>`;
            $('#categoryson').append(rows);
        }
    });
    function xoa(id,status){
        $.ajax({
            type: "post",
            dataType: "json",
            data: { idSanPham: id, trangThai:status},
            url: "/Admin/UpdateTrangThaiSanPham",
            success: function (response) {
                if (response.status) {
                    if (response.ketQua == 0) {
                        document.getElementById("hoatDong_" + id).innerHTML = '<span style="color:red">Không hoạt động</span>';
                        var ip = document.getElementById("xoa_" + id);
                        ip.removeChild(ip.children[2]);
                        $("#xoa_" + id).append("<button type='button' class='btn btn-success' onclick = \"xoa('" + id + "',1)\">Hoàn tác</button>");
                    }
                    else if (response.ketQua == 1) {
                        document.getElementById("hoatDong_" + id).innerHTML = '<span style="color:green">Hoạt động</span>';
                        var ip = document.getElementById("xoa_" + id);
                        ip.removeChild(ip.children[2]);
                        $("#xoa_" + id).append("<button type='button' class='btn btn-danger' onclick = \"xoa('" + id + "',0)\">Xóa</button>");
                    }
                }
                else {
                    alert('Error');
                }
            }
        });
    }
</script>

