<form>
    <input type="text" id="ten"/><br />
    <textarea id="moTa"></textarea><br />
    <select id="loaiSPCha">
        <option>Chọn loại sản phẩm cha</option>
    </select><br />
    <select id="loaiSPCon">
        <option>Chọn loại sản phẩm con</option>
    </select><br />
    <input type="text" list="mauSac"/>
    <datalist id="mauSac"></datalist><br />
    <input type="text" list="kichCo" />
    <datalist id="kichCo"></datalist><br />
    <input type="text" list="chatLieu" />
    <datalist id="chatLieu"></datalist><br />
    <button type="submit" id="addSanPham">Thêm sản phẩm</button>
</form>
<script src="~/js/jquery-3.3.1.min.js"></script>
<script>
    var countThuocTinh = 0;
    var countGiaTri = 0;
    var lstThuocTinh = [];
    var lstGiaTri = [];
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/Admin/GetLoaiSPCha",
            success: function (response) { 
                for (var i = 0; i < response.length; i++) {
                    var rows = "<option value='" + response[i].id + "'>" + response[i].ten + "</option>";
                    $('#loaiSPCha').append(rows);
                }
            }
        });
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/Admin/GetAllMauSac",
            success: function (response) {
                for (var i = 0; i < response.length; i++) {
                    var rows = "<option value='" + response[i].ma + "'>" + response[i].ma + "</option>";
                    $('#mauSac').append(rows);
                }
            }
        });
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/Admin/GetAllChatLieu",
            success: function (response) {
                for (var i = 0; i < response.length; i++) {
                    var rows = "<option value='" + response[i].ten + "'>" + response[i].ten + "</option>";
                    $('#chatLieu').append(rows);
                }
            }
        });
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/Admin/GetAllKichCo",
            success: function (response) {
                for (var i = 0; i < response.length; i++) {
                    var rows = "<option value='" + response[i].ten + "'>" + response[i].ten + "</option>";
                    $('#kichCo').append(rows);
                }
            }
        });
    });
    $("#loaiSPCha").change(function () {
        var value = $("#loaiSPCha").val();
        $.ajax({
            type: "GET",
            dataType: "json",
            data: { idLoaiSPCha: value },
            url: "/Admin/GetLoaiSPCon",
            success: function (response) {
                for (var i = 0; i < response.length; i++) {
                    var rows = "<option value='" + response[i].id + "'>" + response[i].ten + "</option>";
                    $('#loaiSPCon').append(rows);
                }
            }
        });
    });
    
</script>
