@{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
}
<div class="d-flex flex-row align-items-stretch h-100">
    <div class="d-flex flex-column bg-dark-light p-1" style="width:350px;">
    </div>
    <!--DANH SÁCH HÓA ĐƠN-->
    <div class="d-flex flex-column p-3 flex-grow-1  overflow-auto">
        <div class="d-flex flex-row bg-primary align-items-center p-1" style="height:70px">
        </div>
        <div class="d-flex flex-column" style="height:100%">
            <!-- Top Selling -->
            <table class="table" id="table_bills" align=center cellpadding=10>
                <thead>
                    <tr>
                        <th scope="col">Mã hóa đơn</th>
                        <th scope="col">Thời gian</th>
                        <th scope="col">Khách hàng</th>
                        <th scope="col">Tổng tiền hàng</th>
                        <th scope="col">Giảm giá</th>
                        <th scope="col">Trạng thái</th>
                    </tr>
                </thead>
                <tbody id="billRecord">
                </tbody>
            </table>
            <div class="d-flex flex-row bg-info-light p-1 mt-auto" style="height:50px">
            </div>
        </div>
    </div>
    <div class="d-flex flex-row bg-light mt-auto" style="justify-content:center">
        <div class="mx-2" id="pagination1">
            <ul id="pagination-demo" class="pagination-sm"></ul>
        </div>
    </div>
</div>
<script type="text/javascript">
    var pageSizehd =15;// Tối đa 10sp 1 trang
    var pageIndexhd =1;
    $(document).ready(function() {
        loadBill();
    })
    //Load Danh sách hóa đơn
        function loadBill() {
            $.ajax({
                url: "/BanHangTaiQuay/LoadAllHoaDon",
                type: "GET",
                data:{
                page: pageIndexhd,
                pagesize:pageSizehd,
                },
                dataType: "json",
                success: function(response) {
                    $(".billRecord").empty();
                    for (let i = 0; i < response.data.length; i++) {
                        $(".billRecord").append(`
                                                    <tr onclick="billDetail('response.data[i]');">
                                                        <th scope="row">response.data[i]</th>
                                                        <td>response.data[i].ngayThanhToan</td>
                                                        <td>response.data[i].khachHang</td>
                                                        <td>response.data[i].tongTien</td>
                                                        <td>response.data[i].giamGia</td>
                                                        <td>response.data[i].trangThai</td>
                                                    </tr>
                                                    `);
                    }
                    paginghd(response.total, function(){
                            loadBill();
                    });
                },
                error: function(err) {
                    console.log('Error:', err);
                }
            });
        }

//Phân trang
        function paginghd(totalrow, callback){
            var totalgages = Math.ceil(totalrow/pageSizehd);
                $("#pagination1").twbsPagination({
                totalPages: totalgages,
                visiblePages: 5,
                onPageClick: function (event, page) {
                    pageIndexhd = page;
                    setTimeout(callback,200);
                }
            });
        }
</script> 