<div id="qr-result"></div>
<h3>Quét mã sản phẩm</h3>
<div style="display: flex;justify-content: center;">
    <div id="qr-reader" style="width:500px;">
    </div>
</div>

<script>
    function domReady(fn) {
        if (document.readyState === "complete" || document.readyState === "interactive") {
            setTimeout(fn, 1);
        } else {
            document.addEventListener("DOMContentLoaded", fn);
        }
    }
    domReady(function () {
        var myqr = document.getElementById("qr-result");
        var lastResult, countResults = 0;
        function onScanSuccess(decodeText, decodeResult) {
            if (decodeText !== lastResult) {
                //Xu ly khi quet ma thanh cong
                ++countResults;
                lastResult = decodeText;
                //alert("QR Result: " + decodeText, decodeResult);
                addCTSP(decodeText);
                myqr.innerHTML = `You scan ${countResults}: ${decodeText}`;
            }
        }
        var htmlscanner = new Html5QrcodeScanner(
            "qr-reader", { fps: 10, qrbox: 250 }
        );
        htmlscanner.render(onScanSuccess);
    });
</script>


