<div class"modal fade come-from-modal right" id="modalThanhToan" tableindex="-1" role="dialog" aria-labelledby="Thanh toán">
    <div class="model-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>

            </button>
            <h4 class="modal-title" id="myModalLabel">Thanh toans</h4>

        </div>
        <div class="modal-body">
            <p>sdfjshodfwoioiwdjlad</p>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss ="modal" >Close</button>
        </div>
    </div>
</div>