@using AppData.Models;
@model AppData.ViewModels.SanPham.LoaiSPRequest

@{
    Layout = "~/Views/Shared/_LayoutForAdmin.cshtml";
    ViewData["Title"] = "Edit";
    AppData.Models.AssignmentDBContext dBContext = new AppData.Models.AssignmentDBContext();

    var listLoaiSP = ViewData["listLoaiSP"] as List<LoaiSP>;
}

<h1>Sửa Loại SP</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">
                @ViewBag.ErrorMessage
            </div>
        }
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Tên Loại SP</label>
                <input asp-for="Ten" class="form-control" />
                <span asp-validation-for="Ten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> Tên Loại SP Cha</label>
                <select class="form-control" asp-for="IDLoaiSPCha" name="IDLoaiSPCha">
                    @if (listLoaiSP != null)
                    {
                        <option value="null">Chọn loại sản phẩm cha</option>
                        @foreach (var item in listLoaiSP.Where(p => p.IDLoaiSPCha == null).ToList())
                        {
                            <option value="@item.IDLoaiSPCha">@item.Ten</option>
                        }
                    }
                </select>
            </div>
            <input type="hidden" asp-for="TrangThai" value="1" />
            <div class="form-group">
                <input type="submit" value="Sửa loại SP" class="btn btn-primary" style="margin-top: 10px" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
