@model AppData.Models.LoaiSP
@{
    ViewData["Title"] = "Edit";
}

<h1>Chỉnh sửa tên loại sản phẩm cha</h1>

<div class="row">
    <div class="col-md-4">
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">
                @ViewBag.ErrorMessage
            </div>
        }
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" type="hidden" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ten" class="control-label">Tên</label>
                <input asp-for="Ten" class="form-control" />
                <span asp-validation-for="Ten" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="TrangThai" class="control-label"></label>
                <input asp-for="TrangThai" type="hidden" class="form-control" value="1" />
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="IDLoaiSPCha" class="control-label"></label>
                <input asp-for="IDLoaiSPCha" class="form-control" />
                <span asp-validation-for="IDLoaiSPCha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" style="margin-top: 10px" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
