@model AppView.PhanTrang.PhanTrangLoaiSP

@{
    Layout = "~/Views/Shared/_LayoutForAdmin.cshtml";
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/nv.css">
    ViewData["Title"] = "Show";
    AppData.Models.AssignmentDBContext dBContext = new AppData.Models.AssignmentDBContext();
    int stt = 1;
    string searchData = "";
}

<h1>Danh sách loại sản phẩm con</h1>
@*<div class="col-7">
    <a class="btn btn-primary" asp-action="CreateLoaiSPCon">Thêm mới</a>
</div>*@
<table class="table">
    <thead>
        <tr>
            <th style=" background-color: darkslategray;color: white;">
                STT
            </th>
            <th style=" background-color: darkslategray;color: white;">
                Tên
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listlsp)
        {
            <tr>
                <td>
                    <div style="color:black">@stt</div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ten)
                </td>
                @{
                    stt++;
                }
            </tr>
        }
    </tbody>
</table>
